        <!-- Start video-sec Area -->
        <section class="video-sec-area pb-100 pt-40" id="about">
            <div class="container">
                <div class="row justify-content-start align-items-center">
                    <div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
                        <div class="overlay overlay-bg"></div>
                        <a class="play-btn" href="{{ $.Site.Params.videolink }}"><img class="img-fluid" src="img/play-icon.png" alt=""></a>
                    </div>						
                    <div class="col-lg-6 video-left">
                        <h6>{{ $.Site.Params.videoline1 }}</h6>
                        <h1>{{ $.Site.Params.videoline2 }}<br>
                        {{ $.Site.Params.videoline3 }}</h1>
                        <p><span>{{ $.Site.Params.videoline4 }}</span></p>
                        <p>
                            {{ $.Site.Params.videoline5 }}
                        </p>
                        <img class="img-fluid" src="{{ $.Site.Params.videosignature }}" alt="">
                    </div>
                </div>
            </div>	
        </section>
        <!-- End video-sec Area -->
